todo.txt 
*.pyc
__pycache__
.vscode/.ropeproject/

AutomationTools/log.txt

AutomationTools/js/jquery.confirm-master.zip

AutomationTools/js/jquery.confirm-master/bower.json

AutomationTools/js/jquery.confirm-master/couscous.yml

AutomationTools/js/jquery.confirm-master/demo/index.html

AutomationTools/js/jquery.confirm-master/package.json

AutomationTools/js/jquery.confirm-master/README.md

AutomationTools/js/jquery.confirm-master/
