<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <span class="text-muted"><a href="https://www.discord.com"><i style="line-height: 60px" class="fab fa-reddit-square fa-2x"></i></a></span>
            <span class="text-muted mr-2"><a href="https://twitter.com/debatebroshow">
                    <i style="line-height: 60px" class="fab fa-twitter-square fa-2x"></i></span></a></span>
            <span class="text-muted mr-2"><a href="https://www.discord.com"><i style="line-height: 60px" class="fab fa-discord fa-2x"></i></a></span>
            <span class="text-muted mr-2"><a href="mailto:debatebroshow@gmail.com"><i style="line-height: 60px"
                class="fas fa-envelope fa-2x"></i></a></span>
        </div>
        <div class="col-lg-4">
        <span class="text-muted">Copyrighted <i class="fas fa-meh-blank"></i></span>
        </div>
        <div class="col-lg-4">
            <span class="text-muted">Text Or Whatever</span>
        </div>
    </div>
</div>
