<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Navigation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="container">
                    <ul style="font-size: 40px;">
                        <a class="nav-link" href="https://debatebroshow.com">Home <span
                                class="sr-only">(current)</span></a>

                        <a class="nav-link" href="https://debatebroshow.com/pages/episodeIndex.html">Episodes
                            <span class="sr-only">(current)</span></a>

                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="Documents" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Documents
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Documents" style="font-size: 30px;">
                                <a class="dropdown-item" href="#">Coming Soon</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Economics</a>
                                <a class="dropdown-item" href="#">Sociology</a>
                                <a class="dropdown-item" href="#">Biology</a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="Members" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Members
                            </a>
                            <div class="dropdown-menu" aria-labelledby="Members" style="font-size: 30px;">
                                <a class="dropdown-item" href="#">Host</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://debatebroshow.com/members/Jim/jim.html">Jim</a>
                                <a class="dropdown-item"
                                    href="https://debatebroshow.com/members/Piper/piper.html">Piper</a>
                                <a class="dropdown-item"
                                    href="https://debatebroshow.com/members/Owen/owen.html">MaxStirnerStan|Owen</a>
                                <a class="dropdown-item"
                                    href="https://debatebroshow.com/members/Paul/paul.html">Paul</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Producers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    href="https://debatebroshow.com/members/Artie/artie.html">Artie</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>