<nav class="navbar navbar-expand-sm" align="right">
    <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://debatebroshow.github.io"><img style="height:30px;width:30px;"src="https://debatebroshow.github.io/images/logoTransparent.png" alt="DBS"> <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="https://debatebroshow.github.io/pages/episodeIndex.html">Episodes <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Documents" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Documents
                </a>
                <div class="dropdown-menu" aria-labelledby="Documents">
                    <a class="dropdown-item" href="#">Coming Soon</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Economics</a>
                    <a class="dropdown-item" href="#">Sociology</a>
                    <a class="dropdown-item" href="#">Biology</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Members" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Members
                </a>
                <div class="dropdown-menu" aria-labelledby="Members">
                    <a class="dropdown-item" href="#">Host</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Jim/jim.html">Jim</a>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Owen/owen.html">Owen</a>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Paul/paul.html">Paul</a>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Piper/piper.html">Piper</a>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Ruben/ruben.html">Rub&eacute;n</a>
                    <a class="dropdown-item" href="#">Producers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://debatebroshow.github.io/members/Artie/artie.html">Artie</a>
                </div>
            </li>
        </ul>
    </div>
</nav>