<div class="col-lg-6 mb-4">
    <div class="card boxShadow">
        <a href="./episodeList/BOB.html"><img class="card-img-top" src="./episodePhotos/BenrieOrBust.png" alt="Card image cap"></a>
        <div class="card-body">
            <h5 class="card-title" align="center">
                Episode #1 BERNIE OR BUST: How I Learned to Stop Worrying and Love the Biden
            </h5>
            <p class="card-text">The 2020 US Presidential election. It appears there are a lot of
                dumbass lefties who are planning on voting third party or not voting. We’re going to
                explain why they are both stupid and wrong. During the most important election cycle of
                our lifetimes the Debate Bro Show discusses the Bernie or Bust Movement.</p>
            <a href="./episodeList/BOB.html" class="btn btn-primary btn-block">Watch The Episode!</a>
        </div>
    </div>
</div>